html,
body,
div,
span,
object,
iframe,
h1,
h2,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

del {
    text-decoration: line-through;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* ----------END RESET CODE------------- */


/*-----------DESKTOP START------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Homenaje', sans-serif;
    text-decoration: none;
}

html,
body {
    height: 100%;
    margin: 0;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
}


/* color for nav bar #FF6F61; background color = #234851; */


/*--------general styles and header DESKTOP------*/

h3 {
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 2.5;
    font-size: 35px;
}

p {
    color: black;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    line-height: 1.2;
}

header {
    width: 100%;
    height: auto;
    background-color: #FF6F61;
    padding-bottom: 30px;
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header-brand {
        width: 100%;
    }
    .search {
        padding-right: 15px;
    }
}

header .header-brand {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 80px;
    color: #222;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}

@media (max-width: 600px) {
    .mobile-hide {
        display: none;
    }
}


/* Main (image) container */

.slide-container {
    width: 100%;
    display: block;
    padding-top: 150px;
}

.image-container {
    padding-bottom: 50px;
}

.image-container img {
    margin: 16px 16px 0;
    max-width: 100%;
}

@media (max-width: 600px) {
    .image-container {
        text-align: center;
    }
    .image-container a {
        width: 100%;
    }
    .image-container img {
        margin: 16px auto;
    }
}


/* ---------------Footer desktop----------------*/

footer {
    width: 100vw;
    padding: 40px 40px;
    background-color: #234851;
    margin-top: 20px;
    position: absolute;
    text-align: center;
}

footer p {
    color: white;
    letter-spacing: 2px;
}

form {
    padding: 20px;
    margin-bottom: 40px;
}

input[type=text] {
    width: 25%;
    padding: 12px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 90px;
}

button {
    background-color: black;
    border-radius: 90px;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.social-icons {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    color: white;
}

.social-icons ul {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    max-width: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 40px;
}

.social-icons i {
    color: white;
    text-decoration: none;
}

.social-icons a {
    color: white;
}

.social-icons a:hover {
    color: #FF6F61;
}


/*----------------PHONE--------------------------------*/


/*------------general styles and header-----------*/

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Homenaje', sans-serif;
        text-decoration: none;
    }
    html,
    body {
        height: 100%;
        margin: 0;
    }
    header {
        width: 100%;
        height: auto;
        background-color: #FF6F61;
        padding-bottom: 30px;
    }
    header .header-brand {
        font-family: 'Dawning of a New Day', cursive;
        font-size: 40px;
        color: #222;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
    }
    header nav ul {
        display: block;
        margin: 0 auto;
        width: fit-content;
    }
    header nav ul li {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 16px;
    }
    header nav ul li a {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #222;
        text-decoration: none;
    }
    /*-------PHONE FOOTER-------------*/
    footer {
        width: 100vw;
        padding: 40px 40px;
        background-color: #234851;
        margin-top: 20px;
        position: absolute;
        text-align: center;
    }
    footer p {
        color: white;
        letter-spacing: 2px;
    }
    form {
        padding: 20px;
        margin-bottom: 40px;
    }
    input[type=text] {
        width: 25%;
        padding: 12px 40px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 90px;
    }
    button {
        background-color: black;
        border-radius: 90px;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .social-icons {
        text-align: center;
        padding-bottom: 50px;
    }
    .social-icons ul {
        list-style: none;
    }
    .social-icons li {
        display: inline-block;
        max-width: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .social-icons i {
        font-size: 40px;
        padding-right: 40px;
    }
    .social-icons li:hover {
        display: inline-block;
        max-width: 10px;
        margin: 50px;
        cursor: pointer;
    }
    .social-icons li:visited {
        display: inline-block;
        max-width: 10px;
        text-decoration: none;
    }
}