html,
body,
div,
span,
object,
iframe,
h1,
h2,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* ----------END RESET CODE------------- */


/*-----------------------GENERAL STYLES --------------------------*/

html,
body {
    height: 100%;
    margin: 0;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
}

h3 {
    color: #FF6F61;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 2.5;
    font-size: 35px;
}

p {
    color: black;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    line-height: 1.2;
}


/*----------------------HEADER--------------------------*/

header {
    display: flex;
    background-color: #B2DFDB;
}

header .header-brand {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 40px;
    color: #222;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222;
    text-decoration: none;
}

.search {
    flex-grow: 1;
    text-align: right;
}

.search i {
    padding: 40px 40px 40px 0;
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        background-color: #B2DFDB;
        padding-bottom: 30px;
    }
    .header-brand {
        width: 100%;
    }
    header .header-brand {
        font-family: 'Dawning of a New Day', cursive;
        font-size: 40px;
        color: #222;
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
        text-align: center;
    }
    header nav ul {
        display: block;
        margin: 0 auto;
        width: fit-content;
    }
    header nav ul li {
        display: inline-block;
        float: left;
        list-style: none;
        padding: 0 16px;
    }
    header nav ul li a {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #222;
        text-decoration: none;
    }
    .mobile-hide {
        display: none;
    }
    .search {
        padding-right: 15px;
    }
    .search i {
        padding: 0 20px 20px 0;
    }
}

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Homenaje', sans-serif;
        text-decoration: none;
    }
    html,
    body {
        height: 100%;
        margin: 0;
    }
}


/*------------------------MAIN--------------------*/

.desktop-slide a {
    margin: 0 auto;
    padding-top: 50px;
}

.slide-container {
    display: none;
    width: 100%;
}


/* Show small images and hide large images for mobile */

@media (max-width: 600px) {
    .desktop-slide a {
        display: none;
    }
    .slide-container {
        display: block;
    }
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100%;
}


/* -------------------------Footer------------------------- */

footer {
    width: 100%;
    background-color: #F2E6DA;
    margin-top: 20px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 25px;
}

.footerdiv p {
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    padding-bottom: 20px;
}

form {
    padding: 20px;
    margin-bottom: 40px;
}

input[type=text] {
    width: 25%;
    padding: 12px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 90px;
}

button {
    background-color: black;
    border-radius: 90px;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    form {
        display: none;
    }
    footer {
        display: block;
        justify-content: center;
    }
    .footerdiv {
        display: none;
    }
    .mobilejoin h3 {
        font-size: 18px;
        letter-spacing: 0;
        text-align: center;
    }
}

.social-icons {
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
}

.social-icons ul {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    max-width: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.social-icons a {
    color: black;
    padding-right: 40px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #FF6F61;
}


/*--------PHONE----------*/


/* ------- DESKTOP ------- */

@media only screen and (min-width: 601px) {
    header .header-brand {
        text-align: left;
        line-height: 38px;
        font-size: 60px;
        margin: 31px 0;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
    }
    header nav ul {
        margin: 20px 0px 0px 20px;
    }
    header nav ul li a {
        line-height: 60px;
        text-transform: Uppercase;
    }
    .desktop-slide a {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .mobilejoin {
        display: none;
    }
}


/*---------SLIDESHOW TESTIMONIAL--------*/


/* Slideshow container */

.slideshow-container {
    position: relative;
}


/* Slides */

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .mySlides {
        padding: 20px;
    }
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 25px;
    color: #FF6F61;
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .prev,
    .next {
        font-size: 25px;
    }
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.slideshow-container q {
    font-family: 'Muli';
    font-weight: 300;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    .slideshow-container q {
        font-size: 18px;
    }
}

.author {
    color: black;
    font-family: 'muli';
    font-weight: 800;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    .author {
        font-size: 15px;
    }
}

.contact p {
    padding-bottom: 30px;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .contact p {
        font-size: 10px;
    }
}